html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: rgb(240, 213, 246);
  padding: 20px;
  margin-right: 1rem;
  border-radius: 6px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  background-color: rgb(240, 213, 246);
  border-radius: 6px;
}

.reset, .size {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 6px;
  border-color: lightblue;
  background-color: lightpink;
  color: rgb(65, 165, 198);
  transition: transform 0.15s;
}

.reset:hover {
  transform: scale(1.1);
}

.size {
  width: 120px;
  margin-bottom: 2rem;
  outline: none;
}

.color {
  width: 80px;
  height: 40px;
  padding: 2px 10px;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 2px solid lightblue;
  background-color: lightpink;
  outline: none;
}