html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 600px;
  padding: 20px;
  border: 3px solid red;
}

.reset {
  display: block;
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border-color: lightblue;
  background-color: lightpink;
  color: rgb(65, 165, 198);
  transition: transform 0.15s;
}

.reset:hover {
  transform: scale(1.1);
}

input {
  margin-bottom: 20px;
}